/* Toggle Button UI */

.button {
    /*-fx-background-color: #2f2f2f;*/
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));


    /*-fx-text-fill: #F1B86C;*/
    -fx-text-fill: white;
    /*-fx-border-radius: 10;
    -fx-background-radius: 10;*/
}

.button:hover {
    -fx-background-color: gray;
    -fx-text-fill: "black";
}

.button:pressed {
  -fx-background-color: "gray";
  -fx-text-fill: #1d1d1d;
}

/*.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}*/
